[2018-11-26 23:46] SAngelCuadrosV opened #1 "What is the redirect URL?"
I wanna know what's the redirect URL that I have to set on my Microsoft App.

TY.

[2018-12-04 04:40] keslavi opened #2 "How to return the user info, particularly the email?"
love the component, nice and straightforward!  How can i return the user info or decode the token?  I need the email for my backend.

[2018-12-04 04:56] #2 closed

[2018-12-11 16:37] alexandrtovmach commented on #1
Hello,
You need to use URL's of your hosting or your development server. For example here my list:
[code]

[2018-12-11 16:38] #1 closed

[2019-03-04 11:03] dorsegal opened #5 "Module not found: Can't resolve 'msal'"
install via `npm i --save react-microsoft-login`

./node_modules/react-microsoft-login/dist/MicrosoftLogin.js
Module not found: Can't resolve 'msal' in node_modules\react-microsoft-login\dist'

[2019-03-04 11:09] dorsegal commented on #5
After adding it to devDependecies manually the issue is resolved

[2019-03-04 11:11] dorsegal opened #6 "login popup doesn't closed"
The Microsoft login page pops up but after completing the log in the login popup redirect back to the home page instead of closing and running authCallback function

This is how I use it.
export class FileSettingsModalComp extends React.PureComponent<FileSettingsModalProps> {

  openWithOffice = (err, response) => {
    // this.handleClickOutside()
    console.log(err, response)
  };

  render() {

[2019-03-05 17:10] dorsegal commented on #6
since I am using it as a none root element I had to do `new UserAgentApplication(APP_ID, null, () => { })` seperatly

[2019-03-05 17:11] #6 closed

[2019-03-05 17:12] dorsegal opened #7 "Can't get refresh token"
I added permission to my app `offline_access` and added it to my scope but can't seem to get back a refresh token.

[2019-03-06 10:52] alexandrtovmach commented on #5
Thank you for report, I'll check it out.

[2019-03-06 12:28] alexandrtovmach commented on #5
@dorsegal fixed in version **1.1.2**
[code]

let me know if you still have any problems

[2019-03-07 07:39] alexandrtovmach commented on #7
`refresh_token` is cannot be obtained using browser authorization by security reasons.

[2019-03-07 07:39] #7 closed

[2019-03-07 17:14] #5 closed

[2019-03-22 14:32] SogenHommeTeh opened #9 "Can't send Tenant prop"
Hi,

I was just wondering about how hard would it be for you to add the Tenant property into the button ? so that the authority called by msal would not be :
https://login.microsoftonline.com/common
but might be
https://login.microsoftonline.com/<tenant || "common">
In fact it's usefull when you wanna bring restriction about the email domain of people that can use your app.

Could you add it ?

Be

[2019-03-26 14:02] alexandrtovmach commented on #9
@SogenHommeTeh
Thanks for the idea, I'll take a look.

[2019-04-02 03:56] jmandivarapu1 opened #10 "Need Help In correct Implementaion"
Hi,

I really like the simple way you implemented it.

I am facing one issue.

1. I have kept my MS login button in http://localhost:3000/#/login

2. When User clicks the button. It opens the mslogin in New tab.

3. Once I login it redirects me to to http://localhost:3000/#/login in the new tab only. but with no data being printed.

4. I saw your example Implemeted the same. Can't figure out where

[2019-04-03 18:19] alexandrtovmach commented on #10
Hello,

@jmandivarapu1 Could you share your code please?

[2019-04-04 02:53] jmandivarapu1 commented on #10
Sorry for late reply.

But here my code
[code]
<img width="1210" alt="Screen Shot 2019-04-03 at 10 47 55 PM" src="https://user-images.githubusercontent.com/21245519/55526478-43c13f80-5663-11e9-9d94-1d6ccf9c3a0c.png">

[2019-04-04 03:06] jmandivarapu1 commented on #10
FOR SIMPLICITY and for easy reproducing the issues I moved my button to separate page for sample.
You can Use above code and this too

[code]

<img width="813" alt="Screen Shot 2019-04-03 at 10 58 31 PM" src="https://user-images.githubusercontent.com/21245519/55526945-0cec2900-5665-11e9-83d3-98653f5bbb9a.png">

[2019-04-04 07:33] alexandrtovmach commented on #10
Thanks,

I've tested with provided code and seems like it works for me. Only one thing can be the problem:

Your link contains the "#", probably you try use route without it

[2019-04-04 08:23] alexandrtovmach commented on #9
Hello,

Added `tenantUrl` property in *v1.2.0* usage example:
[code]

How to build the URL read here:
https://github.com/AzureAD/microsoft-authentication-library-for-js/wiki/MSAL-basics

[2019-04-04 08:23] #9 closed

[2019-04-04 11:46] jmandivarapu1 commented on #10
Awesome. you are correct # is a problem I removed it using BrowserRouter from react-dom and changed the redirect URL to http://localhost:3000/login and it worked like a charm.

Thank You for all your help.

[2019-04-04 11:46] #10 closed

[2019-05-03 03:42] mateomurphy commented on #6
Hi @dorsegal  I'm having the same problem, how did you get this to work?

[2019-05-05 13:41] dorsegal commented on #6
@mateomurphy added `new UserAgentApplication(APP_ID, null, () => { })` on my parent component

https://github.com/AzureAD/microsoft-authentication-library-for-js/issues/498

[2019-05-08 10:13] banned99 opened #11 "Can we remove text on the button?"
Hi Development Team,

I really appreciated that you guys implementing this for us.

But can we just include only Microsoft logo? Like a Google button below, or can we custom it?

![image](https://user-images.githubusercontent.com/8780911/57367854-fed57f00-71b3-11e9-8b03-9e4981b6b264.png)

Thanks

[2019-05-09 20:59] alexandrtovmach commented on #11
Hello,

This package based on (official Microsoft design)[https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-branding-in-azure-ad-apps], and I wouldn't change it to using bad practices, so my answer - no, here's no way to use custom button.

[2019-05-12 12:11] #11 closed

[2019-05-12 12:47] banned99 commented on #11
Ok thanks anyway :)

[2019-07-02 21:09] itdeciphered opened #12 "Reply URL"
Where do you set or define the reply url ? It has to match the reply url configured for the application

[2019-07-02 21:48] Reston opened #13 "A way to get the id token"
when debugging I can see the idToken but I can't see a way of getting it

Is there a way of get this id token plus the user data (?)

[2019-07-03 13:36] itdeciphered commented on #12
For reference this is a requirement for organizations that do not allow office365 applications to be configured as a multi-tenant application.
Useafe of the /common endpoint is not supported for such applications created after '10/15/2018'

[2019-07-03 17:36] Reston commented on #13
Well I ended reading the value from cache storage used by msal

[2019-07-12 08:37] Ueland opened #14 "Prop for avoiding pop-up"
This module works great, but i have a (hopefully) minor feature request. And that is to have the ability (as a prop) to avoid using a pop-up to start the sign in process. (Given how browsers dislike pop-ups)

[2019-07-16 07:51] alexandrtovmach commented on #14
@Ueland Could you explain more about expected result? As I understood you want to make auto-login, but as I know it's impossible in case with Microsoft Authorization Process.

[2019-07-16 07:53] alexandrtovmach commented on #13
@Reston Thanks for your question. Does it still actual problem? Could you give me a bit more information about `idToken` that you need and code to understand?

[2019-07-16 07:56] alexandrtovmach commented on #12
@itdeciphered Thanks for a question, I'll take a look

[2019-07-16 08:03] Ueland commented on #14
I want that when I click the login button, the login process continues in the current window. Instead of as now, where it opens a new window. So no, not auto-login :)

[2019-07-16 08:36] alexandrtovmach commented on #14
Okay, I see. Microsoft provide us with two options to authenticate:
- popup
- redirect

In case of bad popup support in IE and Edge browsers, they recommend to use popup as default strategy and redirect for MS browsers. And in this package I'm using the [same approach](https://github.com/alexandrtovmach/react-microsoft-login/blob/master/src/MicrosoftLogin.tsx#L98).

If you think that is useful to

[2019-07-16 08:53] Ueland commented on #14
Yes, a prop for strategy would be great to have.

[2019-07-16 10:10] alexandrtovmach commented on #14
Okay, I'll take a look in a week

[2019-08-02 17:23] jvillane opened #15 "Is any way to customize the button content?"
I'm using this component but I can't managed to use for example the MicrosoftLogin children prop to do this.

Any recommendation will be appreciated.

Thanks in advance!

[2019-08-16 13:44] alexandrtovmach commented on #15
It's in my [to do](https://github.com/alexandrtovmach/react-microsoft-login#to-do), but in the same time please check [this issue](https://github.com/alexandrtovmach/react-microsoft-login/issues/11)

[2019-08-28 07:53] alexandrtovmach commented on #15
Available in [1.3.0 version](https://www.npmjs.com/package/react-microsoft-login/v/1.3.0)

[code]

[2019-08-28 07:53] #15 closed

[2019-08-28 07:54] alexandrtovmach commented on #11
@banned99

Available in [1.3.0 version](https://www.npmjs.com/package/react-microsoft-login/v/1.3.0)

[code]

[2019-08-28 11:41] alexandrtovmach commented on #14
@Ueland Added `forceRedirectStrategy` prop in v1.4.0

Example of usage:
[code]

[2019-08-28 11:41] #14 closed

[2019-08-31 16:27] Ueland commented on #14
Thanks! Will give it a test

[2019-09-24 07:57] farhansaeed27 opened #18 "Catch Error on Pop up close"

[2019-09-24 14:23] alexandrtovmach commented on #18
Thank for the issue. Could you please provide a bit more details about it.

[2019-09-24 17:04] farhansaeed27 commented on #18
msalInstance.loginPopup(scope).then(function (idToken) {
      debug && _this.log("Fetch Azure AD 'token' with popup SUCCEDEED", idToken);
      debug && _this.log("Fetch Graph API 'access_token' in silent mode STARTED", true);

      _this.getGraphAPITokenAndUser(msalInstance, scope, withUserData, authCallback, false, debug);
    });
No Catch...Because it throws Error if user closes popup with si

[2019-09-24 17:06] farhansaeed27 commented on #18
[code]
No Catch Handling...Because It throws error if user close popup without signin.

[2019-09-27 07:12] alexandrtovmach commented on #18
Thanks for issue and details. Fixed by #23 and available in [1.4.2 version](https://www.npmjs.com/package/react-microsoft-login/v/1.4.2)

[2019-09-27 07:12] #18 closed

[2019-09-30 07:38] alexandrtovmach commented on #13
Plain `idToken` provide in resulting object from version [1.5.0](https://www.npmjs.com/package/react-microsoft-login/v/1.5.0)

[2019-09-30 07:52] alexandrtovmach commented on #12
Added `redirectUri` property in [1.6.0](https://www.npmjs.com/package/react-microsoft-login/v/1.6.0)

[2019-09-30 07:52] #12 closed

[2019-12-05 13:43] DharmendraNaberly commented on #7
Is there any way i can get it,  as gmail api is providing.

[2019-12-06 10:26] alexandrtovmach commented on #7
@DharmendraNaberly No it's not possible because that's anti pattern.
To work with refresh token you need to implement server side auth process. For example with http://www.passportjs.org/

[2020-01-10 17:22] Werewolve opened #38 "Invalid state in EDGE and IE .../ other Browsers working"
Hey all,
had problems to get the microsoft-login to run in my react app in IE and EDGE. Both in newest version.

"react-microsoft-login": "^1.8.5",
"msal": "^1.2.0",

**Steps to reproduce:**
- Start Authentication
- Enter credentials
- Auth processing
- Error

**Actual result:**
`[object Error]: {description: "Invalid state. e16a39a6-7db8-401b-bde7-0eb035846ce0, state expected : null.", errorCode:

[2020-01-11 09:59] alexandrtovmach commented on #38
thank you for report. I'll take a look after my vacation

[2020-01-15 04:32] renjith-jr opened #39 "auth code and refresh token"
is there any props or method to get refresh token or auth code?

[2020-01-16 23:44] alexandrtovmach commented on #39
Duplicate #7

[2020-01-16 23:44] #39 closed

[2020-01-23 11:59] Werewolve commented on #38
Any news @alexandrtovmach ? Still on vacation?

[2020-01-23 15:00] alexandrtovmach commented on #38
@Werewolve thanks for ping. Just tested from my side and can't reproduce your issue in EDGE. Could you record a video with a bug.

[2020-01-23 15:03] alexandrtovmach commented on #38
IE doesn't supported by demo page so I can't check it

[2020-02-04 04:50] bamerf opened #40 "change response_type to "code""
Need code rather than access_token, possible to do this?

[2020-02-06 10:13] alexandrtovmach commented on #40
I'm not sure about that. What is the case?

[2020-02-06 23:51] bamerf commented on #40
I'm getting my users to log in through the front-end only one time to give us AppFolder access, if I get the `code` back instead of the `access_token` I can use that code in our backend to request a refresh token with which I'll be making requests for access tokens without them having to log in again.

This is the link for the flow I'm talking about: [https://docs.microsoft.com/en-us/graph/auth-v2

[2020-02-07 20:57] ravihani opened #41 "Cachelocation is not supported"
Please see attached screenshot. Could you please let me know how do i configure cachelocation, it seems by default sessionstorage is not supported on my virtual device.

![ms error](https://user-images.githubusercontent.com/4699823/74065091-14d1d380-49c2-11ea-9636-74c1b2dca4fe.png)

[2020-02-25 11:45] alexandrtovmach commented on #40
@bamerf Flow that you described it's antipattern. You should implement the full auth through your server

[2020-02-25 11:45] #40 closed

[2020-02-25 11:46] alexandrtovmach commented on #41
@ravihani Thank you for report.
Seems like you trying to use this package in React Native, but it's not supported

[2020-02-25 11:46] #41 closed

[2020-02-25 11:48] alexandrtovmach commented on #38
@Werewolve I'm going close this issue, and if someone finds similar problems feel free to reopen

[2020-02-25 11:48] #38 closed

[2020-03-06 09:49] muyiwaoyeniyi opened #42 "Is there a way to get the profile picture from the data returned?"
Hi there,

Great work with this package. Please is there a way to get the user's profile picture? It seems to be accessible with the User.Read permission.

Thanks.

[2020-03-06 10:23] alexandrtovmach commented on #42
@muyiwaoyeniyi Yes, `User.Read` are allowing you to get profile picture, but I'm not sure that's should be done by this package. Just make an additional request in your code by using token that you get from `react-microsoft-login`

[2020-03-06 10:23] #42 closed

[2020-03-06 10:25] muyiwaoyeniyi commented on #42
Ok thanks. And thanks for this package.
Taiwo

Sent from Yahoo Mail on Android

  On Fri, Mar 6, 2020 at 11:23 AM, Alexandr Tovmach<notifications@github.com> wrote:
Closed #42.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-04-14 23:27] muyiwaoyeniyi opened #43 "Set state parameter in redirect uri"
Hi there... is there a way to set the state parameter in the reply/redirect url?

Thanks.
Taiwo

[2020-06-15 10:46] reachtokish opened #47 "Getting CORS error"
I'm getting the below CORS error while trying to implement this library

![image](https://user-images.githubusercontent.com/10685261/84648734-0f156d00-af23-11ea-88e8-e208ebdec5a8.png)

Below is my component
[code]

Can anyone kindly tell me what could be the possible reason for this error?

[2020-06-15 17:48] alexandrtovmach commented on #47
Thanks for report 👍
Seems like you're using tenantUrl, so probably you haven't allowed localhost in your organization

[2020-06-17 04:04] reachtokish commented on #47
Thanks @alexandrtovmach for the info. I will check my azure configuration.

[2020-06-17 10:51] voloshyndmitry opened #48 "Warning: React.createElement: type is invalid -- expected a string"
Hi All!
**Steps to reproduce:**
When I use:

[code]

[code]

in create react app (dev env) all work fine.
But after build(prod env) I got:

**Actual result:**
[code]

**How to fix:**

[code]

_Maybe it's not a bug. But I didn't find it in the documentation._

[2020-06-17 11:25] alexandrtovmach commented on #48
@voloshyndmitry Why do you think it's related to `react-microsoft-login` instead of `react-aad-msal`?

[2020-06-17 11:43] voloshyndmitry commented on #48
Oh. yes, sorry - wrong repository

[2020-06-17 11:43] #48 closed

[2020-06-18 14:11] saivarma49 opened #49 "i got an issue"
Is it possible to develop mobile application, I don't know but I am tried to develop in mobile. I got this issue. please tell me any solution to login  Microsoft account in app.
I Got this issue
ClientConfigurationError : The value for the cacheLocation is not supported. GivenLocation sessionStorage

[2020-06-20 09:41] alexandrtovmach commented on #49
Please check #41

[2020-06-20 09:41] #49 closed

[2020-06-21 02:44] pablolopezq opened #50 "authCallback not being called"
[code]

Variable on localStorage is not being set, callback is not being called. What could be wrong?

[2020-06-23 15:04] reachtokish commented on #47
This issue is resolved. So my azure application is not multi-tenant and that is why I can't use /common in the url. And in that case I have to pass an extra parameter which is ```tenantUrl```. And tenantUrl also I was passing wrong. Below is the example code which worked for me if that helps anyone.

[code]

Thanks for the great library!

[2020-06-23 15:04] #47 closed

[2020-06-23 16:08] alexandrtovmach commented on #47
@reachtokish Thank you :+1:

[2020-07-03 10:18] alexandrtovmach commented on #50
@pablolopezq Thanks for reporting

Could you make sure that's not called with console.log or another debug tool?

[2020-07-17 07:05] francisjavier opened #51 "Callback not called on Microsoft Edge"
Problem:
Callback is not called in Microsoft Edge 44.18362.449.0, it is called in Chrome and Firefox

Not sure if related to Known issues documented by Microsoft:

https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-js-known-issues-ie-edge-browsers#issues-due-to-security-zones

Here is a small video of the issue, the redirect comes back but doesn't hit the callback so the user sta

[2020-07-26 03:07] nakawankuma opened #52 "I want Signout in Microsoft button need."
**Is your feature request related to a problem? Please describe.**
I think so User need request sign out button.
I don't touch msal object internal.

**Describe the solution you'd like**
<MicrosoftLogin clientId= {msalConfig.auth.clientId} authCallback={authHandler} mode="SignOut" />
or
<MicrosoftLogOut clientId= {msalConfig.auth.clientId} authCallback={authHandler}/>

**Describe alternatives you'

[2020-07-26 05:27] nakawankuma opened #53 "I want graphScope. but illegal type.d.ts."
**Steps to reproduce:**
made code.

    const msalProps  : MicrosoftLoginProps= {
        clientId : msalConfig.auth.clientId,
        authCallback : authHandler,
        graphScopes : ['User.Read', 'Group.Read.All']
    }
 <MicrosoftLogin  {...msalProps} />}

**Actual result:**
build error.
TypeScript error in C:/src/wankuma/reactsite2/src/jsx/manage/admin/AdminSigninBox.tsx(48,9):
Type '[string,

[2020-07-26 05:39] nakawankuma commented on #53
#54

[2020-07-27 15:07] #53 closed

[2020-07-27 15:09] alexandrtovmach commented on #51
Thank you for reporting! I'm busy with other things at the moment, would you like to contribute? I'll take a look aproximately in September

[2020-07-27 15:12] alexandrtovmach commented on #52
@nakawankuma Sounds interesting, but I'm not sure that's providing additional button is okay. Instead, we can provide method (from your example) directly from `react-microsoft-login` like:
[code]

Currently, I'm busy with other things, would you like to implement it and contribute? I can investigate in September or later. Thank you!

[2020-08-09 09:32] mueezahmad opened #55 "Popup is blocked on login"
<img width="1318" alt="Screen Shot 2020-08-09 at 2 45 03 PM" src="https://user-images.githubusercontent.com/60815431/89729416-f91db780-da4e-11ea-92b2-fb1a4d942947.png">
<img width="1156" alt="Screen Shot 2020-08-09 at 2 45 51 PM" src="https://user-images.githubusercontent.com/60815431/89729427-105ca500-da4f-11ea-8031-f32a1891ca89.png">

Hi Mate,

It's a super plugin thanks for that. I am facing so

[2020-08-09 10:34] mueezahmad commented on #55
<img width="1315" alt="Screen Shot 2020-08-09 at 3 31 06 PM" src="https://user-images.githubusercontent.com/60815431/89730167-bca18a00-da55-11ea-9853-fd3f024c18cf.png">
for reference..!

[2020-08-17 19:46] NairanOmura opened #56 "how to logout/logoff in component?"
Hello,

I'm using the login component and it is working as expected, however, I would like to know if there is a way to log out?

Att

[2020-08-17 20:30] NairanOmura commented on #56
issue solved in https://github.com/alexandrtovmach/react-microsoft-login/issues/52

[2020-08-17 20:30] #56 closed

[2020-08-22 06:13] Admin-NWIF opened #57 "Any way to actually use the token that is retrieved?"
I'd like to use the token I get from authenticating the user to see what groups they are apart of. Seems like you can request user data/user.read scope for Microsoft Graph but I don't see how I might actually reference that data with this lib?

[2020-08-24 11:30] DharmendraNaberly opened #58 "Cannot read property 'accessToken' of undefined"
TypeError: Cannot read property 'accessToken' of undefined
    at MicrosoftLogin.getUserData (VM1264 MicrosoftLogin.js:294)
    at eval (VM1264 MicrosoftLogin.js:233)
Getting this issue in version @1.8.5

[2020-09-01 17:55] jadir-junior commented on #55
you can fix thats error?

[2020-09-02 06:04] dharmendrashah opened #59 "Client Configuration Error"
**Steps to reproduce:**

**Actual result:**

**Expected behavior:**

**Attachments:**

**Additional context:**

[2020-09-04 07:35] DharmendraNaberly opened #60 "navigator is not defined at new TelemetryManager"
On refreshing page getting this error
ReferenceError: navigator is not defined at new TelemetryManager

[2020-09-04 20:32] alexandrtovmach commented on #55
Hello,
Thank you for reporting issue, I'll take a look on a next week

[2020-09-04 20:34] alexandrtovmach commented on #58
@DharmendraNaberly Thank you for the report! I'd suggest using the latest version

[2020-09-04 20:34] alexandrtovmach commented on #59
@dharmendrashah Would you provide more details?

[2020-09-04 20:36] alexandrtovmach commented on #60
@DharmendraNaberly Thanks for reporting! Could you provide more details? It's seems weird, because this package shouldn't anything like this

[2020-09-07 06:29] AbdulAhad125 opened #61 "Unable to get response or data in authHandler"

[2020-09-07 06:33] AbdulAhad125 commented on #61
Hey i am using this react-microsoft-login for simple microsoft authentication. I had created and registered application and follows all steps and i successfully redirect to redirect uri now i am facing an issue that i am not getting any data in auth handler all i getting is undeifned when i console data. Here is my code

[code]
Please can anyone help me out in what is problem in here and suggest t

[2020-09-07 06:35] AbdulAhad125 commented on #61
@alexandrtovmach Can you please have a look.

[2020-09-07 06:36] AbdulAhad125 commented on #61
@alexandrtovmach  1 thing more to mention when i console error i get this

[2020-09-08 14:14] DharmendraNaberly commented on #60
![ms_error (1)](https://user-images.githubusercontent.com/53552327/92487973-d04e2680-f1a2-11ea-845a-9f920284f1d8.png)

[2020-09-17 20:52] rfontoura opened #62 "How to define the response_type to code to implement the OAuth Code Flow?"
AFAIK, this component uses MSAL 1.x, which does not provide a way to implement the Authorization Code Flow.
![image](https://user-images.githubusercontent.com/348776/93526510-edef5e80-f90d-11ea-96a0-40f971f80692.png)

I configured my Microsoft App registry **not** choosing either of the implicit grants:
![image](https://user-images.githubusercontent.com/348776/93526637-1aa37600-f90e-11ea-9bce-7ea0

[2020-09-21 09:53] yogeshchauhan opened #63 "Cannot read property 'accessToken' of undefined"
**Steps to reproduce:**

**Actual result:**
Cannot read property 'accessToken' of undefined

**Expected behaviour:**
After login, I want the Microsoft user data. In the second time, I am able to get the data as the cookie has been generated successfully on my browser.

**Attachments:**
![Screenshot 2020-09-21 at 3 17 20 PM](https://user-images.githubusercontent.com/6008210/93753583-00bfa700-fc1e-1

[2020-09-30 14:51] devtoro commented on #62
Any updates on this? I am also having the same issue

[2020-10-20 12:51] ncesar opened #64 "We should be able to change the button text"
I'm from Brazil and I need to change the text to PT-BR. I know that I can create a custom button but it would be way easier if I could edit just the string.

[2020-10-21 19:07] alexandrtovmach commented on #64
Microsoft doesn't provide us with recommendation for localization, so I'm not sure that we have a plan to support any languages except English:
https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-branding-in-azure-ad-apps

[2020-10-21 19:07] #64 closed

[2020-10-28 20:05] muyiwaoyeniyi opened #65 "Option to add a Nonce to request"
Would it be possible to add a nonce to the request to mitigate timing attacks with the tokens returned? Also, an option to pass a State prop would be great too.

Thanks.

[2020-11-05 08:47] vinceplayer commented on #58
any news?

[2020-11-05 08:47] vinceplayer commented on #63
any news?

[2020-11-12 12:17] fjuriolli commented on #62
I also need this. Any news?

[2020-11-20 18:16] alexandrtovmach commented on #58
Closed in favor of #63

[2020-11-20 18:16] #58 closed

[2020-11-20 18:27] alexandrtovmach commented on #63
I can't reproduce the issue. Tested on:
- Chrome 87 (Ubuntu)
- Firefox 79 (Ubuntu)

But I think I found where is the issue. Could you try a new version [1.10.2](https://www.npmjs.com/package/react-microsoft-login/v/1.10.2)?

[2020-11-22 11:36] alexandrtovmach commented on #62
Hey, thanks for asking!
As you mentioned, this component using `msal` under the hood, which implements the OAuth 2.0 Implicit Grant Flow. So you can't get `code` to use it anywhere except current session.

This component created for SPA, and I think that's for mixed approaches better to use your custom implementation.

[read docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-

[2020-11-22 11:36] #62 closed

[2020-11-22 14:52] alexandrtovmach commented on #55
Should be fixed in version [1.10.2+](https://www.npmjs.com/package/react-microsoft-login/v/1.10.2)?

[2020-11-22 14:52] #55 closed

[2020-11-22 14:53] alexandrtovmach commented on #50
Closed as staled

[2020-11-22 14:53] #50 closed

[2020-11-22 14:54] alexandrtovmach commented on #51
@francisjavier Could you provide logs? Also, could you try to reproduce this issue with example:
https://alexandrtovmach.github.io/react-microsoft-login/

[2020-11-22 15:06] rfontoura commented on #62
Hey, @alexandrtovmach , thanks for answering.

Just for you or anyone who is interesting in getting the authorization code in the frontend and send it to the backend to require the access and refresh tokens, I recommend using the [simple Microsoft REST API](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow) for that, which can be reached using any HTTP client

[2020-11-22 16:16] alexandrtovmach commented on #52
From version 1.12.0 and older you can get msal instance as third argument in callback function, after success auth. With this instance you can do many things and logout is one of them:

[code]

[2020-11-22 16:16] #52 closed

[2020-11-22 16:27] alexandrtovmach commented on #57
Please refer to official [Microsoft Graph API](https://docs.microsoft.com/en-us/graph/use-the-api) for this info, because I'm not confident with that. For sure, you need to request some list of scopes, that required for specific API requests, and use `accessToken` as bearer auth header

[2020-11-22 16:27] #57 closed

[2020-11-22 16:28] alexandrtovmach commented on #60
Do you use SSR?

[2020-11-22 16:29] alexandrtovmach commented on #61
@AbdulAhad125 Could you check with latest version

[2020-11-22 16:30] alexandrtovmach commented on #65
Yeah, sounds reasonable. I'll take a look, but any PR or help are welcome

[2020-11-22 16:30] #59 closed

[2020-11-26 12:35] alexandrtovmach commented on #60
I'm pretty sure this issue is not related to the package directly. It looks like you trying to use `react-microsoft-login` in SSR or mobile development, but it's not expected.

Feel free to reopen this issue with more details

[2020-11-26 12:35] #60 closed

[2020-11-27 11:37] reachtokish opened #70 "Page getting refreshed twice"
[code]
Above is the component I'm using for MS SSO implementation. As it is visible that I'm using `forceRedirectStrategy` and it is actually working, and I'm getting the idToken in url. But when sucessfully login happens and it redirects to my react app, the react app gets refreshed again and replace the url with error response.

Am I missing anything which I need to pass to the component additio

[2020-11-27 11:56] alexandrtovmach commented on #70
Can you try to reproduce it with example?
alexandrtovmach.github.io/react-microsoft-login

[2020-12-04 09:09] reachtokish commented on #70
Closing the issue as I have resolved it some other way. Thanks, and it's a great library btw!!

[2020-12-04 09:09] #70 closed

[2021-01-08 14:02] vinceplayer opened #71 "Re-Login Option"
Currently if I log in twice, at the second login it does not ask me for the account with which I want to log in, nor for the credentials, are there any options present or currently under development, to set additional parameters?

[2021-01-19 07:19] wilcollins opened #72 "[Electron] ClientAuthError: Token renewal operation failed due to timeout."
The pop-up flow fails in Electron, closing the pop-up nearly instantly, before the user can enter information. The error thrown is `ClientAuthError: Token renewal operation failed due to timeout.`

[2021-01-20 03:15] divsbhalala commented on #40
@alexandrtovmach you mean response_type=code is not supported here and we can not do it using this lib?
we have to use different lib if we want code as a response

[2021-01-20 08:05] alexandrtovmach commented on #40
@divsbhalala This lib provides client side auth, which *SHOULD NOT* work with `refreshToken`, because it's not secure. Please read about difference between "authorization" and "authentication".

[2021-02-01 08:16] BHARANA4 opened #73 "common endpoint is not supported for such applications created after '10/15/2018'"
**Steps to reproduce:**
AADSTS50194: Application '58c5e948-c3a2-4b7c-b9a4-93f5c10091be'(Avatar_clr_45277_RITM1177190) is not configured as a multi-tenant application. Usage of the /common endpoint is not supported for such applications created after '10/15/2018'. Use a tenant-specific endpoint or configure the application to be multi-tenant.

[2021-02-23 14:30] WPaczula opened #74 "Use render props to pass onClick handler to a custom button"
**Is your feature request related to a problem? Please describe.**
I'd like to style the login button in a custom way. This library creates an additional div with `onClick` handler and there is no way to apply class name to it in a clean way.

**Describe the solution you'd like**
More flexible solution could be a usage of render props with `onClick` handler as a prop called `render`

**Describe al

[2021-02-23 14:43] WPaczula commented on #74
If my solution is fine for you, I can contribute for this repo, that should be a quick thing to do 🚀

[2021-02-23 16:54] alexandrtovmach commented on #74
@WPaczula thanks for reporting
It's already done by [`children` prop](https://github.com/alexandrtovmach/react-microsoft-login#-api). Something like this:
[code]

[2021-02-24 23:54] WPaczula commented on #74
@alexandrtovmach thanks for the replay.  `onClick` method would be the `login` function from [this piece of code](https://github.com/alexandrtovmach/react-microsoft-login/blob/master/src/MicrosoftLogin.tsx#L210).

I propose using render [props pattern](https://reactjs.org/docs/render-props.html), which would look like this:
[code]

Structuring the code this way would allow the consumers of this li

[2021-03-16 15:34] kolomoitsev opened #75 "Update react in peer dependency"
https://github.com/alexandrtovmach/react-microsoft-login/blob/25853cecbf74e358a457579a32ce3cb5f64eb51c/package.json#L56

[2021-03-20 15:28] alexandrtovmach commented on #73
@BHARANA4 There is no enough information to reproduce, could you provide your code and explain what you have

[2021-03-20 15:29] alexandrtovmach commented on #72
This package is not tested in Electron, so I can't guarantee stable work

[2021-03-20 15:29] #72 closed

[2021-03-23 21:45] FranCarstens commented on #73
This issue occurs when the application is set to single tenant only. For example an internal application.

[code]

You can solve this by adding your tenant URL which you can find right below your client ID on your app's overview page.

https://login.microsoftonline.com/ + Directory (tenant) ID

[code]

[2021-05-10 13:08] #75 closed

[2021-05-10 14:39] alexandrtovmach commented on #74
Sorry for delay =)
Yes, it sounds reasonable, so if you still want, I'd happy to see your PR with this updates

[2021-05-10 14:41] alexandrtovmach commented on #61
@AbdulAhad125 Feel free to reopen if issue still exist

[2021-05-10 14:41] #61 closed

[2021-05-10 14:42] #51 closed

[2021-05-10 14:44] #63 closed

[2021-05-10 14:50] #71 closed

[2021-05-12 08:20] chrisb911 opened #81 "Fails to install - Husky command not found"
Had a problem with this with our app since a couple of days so have tried to install on a clean react app and getting same problem.  My Environment is Mac OSX 11.3, npx 6.14.8 npm, 6.14.8 node 14.15.1

1. npx create-react-app testapp
2. npm i React-microsoft-login

gives me the following:

sh: is-ci: command not found
sh: husky: command not found
npm WARN enoent ENOENT: no such file or directory,

[2021-05-12 08:29] alexandrtovmach commented on #81
Oops :laughing:
Could you downgrade to 1.12.1 for now. I'll fix it tomorrow

[2021-05-12 08:33] chrisb911 commented on #81
Sure thing.

Chris

Chris Bartlett

Email: ***@***.***
Phone:  +44 (0) 1672 563 110

Mobile: +44 (0) 7780 730 782

Web: www.dahu.co.uk

This e-mail and attachments are the
property of Dahu Ltd. It is intended only for
the person or entity to which it is
addressed and may contain information
that is privileged, confidential, or otherwise
protected from disclosure. Distribution or
copying of this e-

[2021-05-13 04:04] alexandrtovmach commented on #81
Related issue:
https://github.com/nenadfilipovic/iot-manager/issues/13

[2021-05-13 04:05] alexandrtovmach commented on #81
Released fix in v1.13.4, so feel free to upgrade

[2021-05-13 04:05] #81 closed

[2021-05-31 14:03] Mrliupengye opened #82 "authCallback not call when set forceRedirectStrategy=true"
[code]
[code]
If i don't use parameters forceRedirectStrategy, the authCallback function will be called well, but when i set forceRedirectStrategy=true, authCallback not call.

[2021-05-31 14:04] Mrliupengye commented on #82
![image](https://user-images.githubusercontent.com/13655888/120205145-33657900-c25c-11eb-91c4-9872f3075c2f.png)

[2021-05-31 15:47] alexandrtovmach commented on #82
Thanks for report, which version do you use?

[2021-06-01 02:42] Mrliupengye commented on #82
hello, my version is:
"react-microsoft-login": "^1.12.1"

[2021-06-04 05:37] alexandrtovmach commented on #82
okay, so first suggestion will be ― try to use latest one

[2021-06-04 05:40] alexandrtovmach commented on #82
also, could you try to reproduce it with demo page?
https://alexandrtovmach.github.io/react-microsoft-login/

[2021-06-11 08:41] alexandrtovmach commented on #82
@Mrliupengye could you?

[2021-06-17 12:28] KirianCaumes opened #83 "ClientAuthError: Error: could not resolve endpoints. Please check network and try again."
Hi,
I'm totally stuck with this error :
![image](https://user-images.githubusercontent.com/24525092/122395642-7a9b7b80-cf77-11eb-8a3d-fcbd04adad4b.png)

I think my code looks like exactly yours in your demo:

[code]

But the curious thing, is that with this clientId, it's working totaly fine on your demo:
![image](https://user-images.githubusercontent.com/24525092/122395910-c3ebcb00-cf77-11eb-9ff0

[2021-06-17 17:36] KirianCaumes commented on #83
Well, I guess it was those day where you are stupid and don't understand a thing.
So problem was with Pretender that was not firing an error.
So adding this in pretender fixed my problem:

[code]

Sorry for this!

[2021-06-17 17:36] #83 closed

[2021-06-17 17:39] alexandrtovmach commented on #83
I like when issues resolving :+1:

[2021-06-21 06:53] G4mingEdition opened #84 "Library not working, infinite loop"
Hi,

I have to create a react microsoft login so I used your library but I encoutered a bug.

**My code:**
I'm using React class components with Redux.
![image](https://user-images.githubusercontent.com/38436883/122717930-926f4a00-d26c-11eb-855c-ea48238ed721.png)
![image](https://user-images.githubusercontent.com/38436883/122717964-9c914880-d26c-11eb-93dc-0bb8427651f3.png)

**Actual result:**
When

[2021-06-21 07:02] alexandrtovmach commented on #84
I think you need to be more accurate when say "Library not working", because it seems more like bug on your side =)
Anyway, I see core issue in this "**When loading the page**, the library is automatically showing the Microsoft's popup and looping". Auth process should be initiated by pressing button, not by page load, so please check why it's happen or provide reproducible example.

Good info to

[2021-06-21 09:21] G4mingEdition commented on #84
I have fixed the issue on my project. I had to clear the session that contains all information about Microsoft.
![image](https://user-images.githubusercontent.com/38436883/122738692-81313800-d282-11eb-9df2-8a95a9a63975.png)
Without that, the library is spamming Microsoft (and my API) and call Microsoft's auth on page load.

[2021-07-01 15:13] hassan-righthand opened #85 "Adding Props to Not Return Signedin Object on Load"
**Is your feature request related to a problem? Please describe.**
If cookie is saved and whenever the page is loaded, it automatically signed in without clicking on the button

**Describe the solution you'd like**
Adding props that will help to disable this auto request to the handler on page load.

**Describe alternatives you've considered**
As this feature was not present, I have to manually bu

[2021-07-01 18:10] SamuelPinho commented on #84
@G4mingEdition thanks for the help man, it solved the same problem here.

@alexandrtovmach any ideia if this could be added by default on the lib?

[2021-07-02 11:17] alexandrtovmach commented on #84
You not answered to my questions about package version, so I'm not sure about it

[2021-07-03 16:49] G4mingEdition commented on #84
I've added the package version in "Additional information" (1.15.0)

[2021-07-13 12:52] filipkowal opened #86 "Authentication code flow"
I need to authenticate the user with [authentication code flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow) so the back-end accepts the `authorization code` instead of `authentication token`. Can it be achieved with this library? I've found out that providing `responseType="code"` to the MS API would change the response to the `authorization code`.

[2021-07-15 10:44] #86 closed

[2021-07-16 16:44] axme100 commented on #86
@filipkowal I'm trying to do the same thing. Are you saying that you did something like this with this library?

`<MicrosoftLogin
responseType="code"`
`</MicrosoftLogin>`

[2021-07-16 17:27] axme100 commented on #62
@rfontoura

Wait so how did you use a third party library in your solution? How did you get the microsoft sign-in pop up? I'm also researching how to implement this using the authorization code flow.....

[2021-07-19 12:22] rfontoura commented on #62
Hello, @axme100. There's a while since I've worked on this and I'm not totally sure. But you'll end up redirecting your application to a Microsoft authentication page, so you can login and authorize your app, returning a code through a URL parameter. The entire flow is described here: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow

[2021-07-21 10:49] filipkowal commented on #86
@axme100 This library doesn't support it.

The official MS library `msal-browser` does support the `authorization code flow` but in a different way. The frontend never gets the `authorization code` directly.
After reading [these docs on the authorization code flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow#request-an-authorization-code) I've tried to

[2021-08-10 10:32] muyiwaoyeniyi commented on #84
@alexandrtovmach I'm also having the same issue after upgrading from 1.12.0 to 1.15.0. If I sign out within my app and revisit the sign in page, microsoft authentication immediately happens without clicking on the button. You have to clear the session store or close the tab and use another tab.

[2021-08-17 15:49] cnadeau commented on #86
If it helps someone: I ended up creating the authorize URL manually and open a popup to start the flow using `response_type=code` and `response_mode=query` and I was finally able to get the flow as react-google-login does out of the box.

[2021-10-13 12:23] Faiza294 opened #89 "Need for refresh token in authCallback response object."
I need to store refresh token in my database to make login with microsoft and keep them alive as long as refresh token is not expired. Kind of single connection creation so that user can access his/her OneDrive files with out need to login again. This package is so good but due to unavailablity of refresh token I'm having issues.

[2021-10-14 14:30] #89 closed

[2021-10-14 14:32] #82 closed, assigned to alexandrtovmach

[2021-11-15 11:17] rafenasir commented on #84
@G4mingEdition .Can I stop the call to authHandler function on page reload?

[2021-11-15 11:36] muyiwaoyeniyi commented on #84
@rafenasir just do this after successful authentication

sessionStorage.removeItem("msal.idtoken")

[2021-11-15 11:45] rafenasir commented on #84
Thanks a lot!! :)

[2021-11-16 13:42] alexandrtovmach commented on #84
looks like a hacky solution)
will check if there a proper way to handle that

[2021-11-16 15:50] rafenasir commented on #84
@alexandrtovmach yes!! In the above scenario if I remove the msal.idToken it doesn't show the logout button :) I would highly appreciate if you can come up with a proper solution.

[2021-11-16 16:34] muyiwaoyeniyi commented on #84
@alexandrtovmach I pasted the source of the issue here https://github.com/alexandrtovmach/react-microsoft-login/issues/84#issuecomment-895918353 ... it would be helpful to allow us send a prop to enable or disable this behavior.

[2021-12-22 14:19] phuctranlh opened #90 "authCallback never has data"
I followed the guide, but the callback never prints out the data. It has only error.
I successfully login with O365, and see the token returned on the url of the iframe. But it never comes to the callback function for the next use.

[2021-12-22 15:11] alexandrtovmach commented on #90
Browser?
Package version?
something to reproduce?

[2021-12-27 11:59] brijpatel6080 opened #91 "when I going to add in button clientId={YOUR_CLIENT_ID} so getting this error"
![image_2021_12_27T11_39_45_844Z](https://user-images.githubusercontent.com/31682945/147469832-e7dff3b8-8598-40b2-86be-c3741a376504.png)
**Steps to reproduce:**

**Actual result:**

**Expected behavior:**

**Attachments:**

**Additional context:**
help me out

[2021-12-28 18:36] urdaneta88 opened #92 "Infinity loop on MS popup login"
When i try to login the popup from MS start looping and the page make an infinity number of request to openid-configuration.

Here is the button with a child component just to have a custom style and icon
[code]

This is the callBack
[code]

Ifi the user close the popup we handle that like this (we are using redux and the Store.dispatch is needed to call any action)
[code]

Otherwise we call this

[2022-01-04 10:56] faisalur-rehman commented on #91
I am facing the same issue on ios version 14.5. Any update on this?

[2022-01-30 16:47] alexandrtovmach commented on #91
this package is not support react-native

[2022-01-30 16:47] #91 closed

[2022-01-30 16:48] alexandrtovmach commented on #90
closing as not reproducable

[2022-01-30 16:48] #90 closed

[2022-02-28 14:47] KhizerRehan opened #94 "ClientAuthError: Login_In_Progress: Error during login call - login is already in progress"
I am trying to login with MS login button but it fails to login.

There might be possiblity i haven't used correctly, but i am continously getting this  information `debug` mode

https://user-images.githubusercontent.com/17727069/156003005-9181176f-edbd-4e9d-ae1e-8f188e2ac0d6.mp4

**Implementation**

[code]

Anyhelp will be appreciated.

[2022-04-08 11:15] ishwark7 commented on #84
Hi @alexandrtovmach ,
Facing this issue in laster 1.15.0.
Using sessionStorage.removeItem("msal.idtoken") as of now to avoid the loop. Please let us know if this can be handled in a better way. Thanks

[2022-04-11 11:31] Bhargav1224 opened #96 "Microsoft button itself not able to see in the UI"
**Steps to reproduce:**

**Actual result:**

**Expected behavior:**

**Attachments:**

**Additional context:**

[2022-04-11 11:36] nandan-vidberrys opened #97 "Microsoft login image is showing up"
On the initial load of the page ms login image is not showing up.

![ms-login-issue](https://user-images.githubusercontent.com/96293031/162731596-21b7a2d5-359d-4825-b0a6-6e622c8f8e0c.png)

[2022-04-13 03:23] #96 closed

[2022-04-13 03:23] Bhargav1224 commented on #96
solved

[2022-06-08 10:14] parthsavaliya1 commented on #92
Hii same issue replicate for me in version 1.15.0. any update on this?

[2022-06-08 11:14] parthsavaliya1 opened #101 "When click on sign in with Microsoft button at that time infinite API is calling"
when click on sign in with Microsoft button  at that time infinite API is calling.

Here AUTH handler function call infinite time.

 <AEPopup
            showModal={isShowMicrosoftPopup}
            onCloseFunc={this.onCloseFunc}
            modelFooter={
              <div className="text-align-center p-b-25">
                <MicrosoftLogin
                  clientId={clientId}

[2022-06-10 12:57] soufiane-ouladdanden commented on #101
Im facing the same issue, any solution found ?

[2022-06-14 05:05] parthsavaliya1 commented on #101
@alexandrtovmach can you please help here?

[2022-06-15 05:05] parthsavaliya1 commented on #101
@alexandrtovmach  Any Update on this?

[2022-06-20 04:03] parthsavaliya1 commented on #101
@alexandrtovmach  can you please give me update on this?

[2022-06-21 12:05] vigneshRajenthiran opened #102 "Children property issue in typescript"
**Steps to reproduce:**

1. Installed the latest version of react-microsoft-login
2. Rendered and tried to add children in the MicrosoftLogin component
3. Got typescript error " property 'children' does not exist on type 'intrinsicattributes & microsoftloginprops'"

**Attachments:**

	                                                                          <MicrosoftLogin
											clientId={off

[2022-06-22 04:56] parthsavaliya1 commented on #101
@alexandrtovmach Any update on this?

[2022-06-23 01:02] oraimond commented on #101
I had a similar issue. For the time being I've set it up so that a dummy button takes the place of the real login button while my server is verifying the details from Microsoft. It seems that whenever the page is loaded and the microsoft login button is rendered it will instantly starting trying to get a silent login and this caused the loop on my system.

[2022-07-29 18:01] JoaoPedroBelo commented on #101
@oraimond can you please describe a bit more your solutiin? I'm having the same issue

[2022-09-09 09:25] klendi commented on #92
Any updates on this ?

[2022-09-11 22:55] diamant-isufi-sveasolar opened #104 "React: ClientAuthError: Token renewal operation failed due to timeout."
**Steps to reproduce:**

**Actual result:**

**Expected behavior:**

**Attachments:**

![image](https://user-images.githubusercontent.com/105778530/189552434-6acefcca-efae-4ef8-8e9e-d13bb59f227c.png)

**Additional context:**

The authcallback function isn't being called due to timeout.

Version: 1.15.0

[2022-11-17 13:44] chaha0s opened #106 "Alternative -> @azure/msal-browse"
Saw that this library comes up on the top when anyone searches for 'microsoft login react'
With the open issues and last commit, would recommed everyone to use **@azure/msal-browser**